* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-color: rgb(2, 2, 27);
  color: white;
}

/* Styling the NAV bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
}

#site-title {
  font-weight: bold;
  font-size: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}
.logo img {
  border-radius: 80px;
}

/* Styling the NAV links */

.nav-links {
  display: flex;
  gap: 12px;
}

.nav-links a:link {
  text-decoration: none;
  color: white;
}

.nav-links a:visited {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  text-decoration: underline;
  color: white;
}

nav ul {
  list-style-type: none;
}

/* Styling the header */
header {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 12px;
  color: white;
}

.left-header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 1rem;
}

.right-header {
  display: flex;
}

header h1 {
  font-size: 3rem;
}

/* Styling the book-section */
.book-section {
  display: flex;
}
